.black-btn {
  background-color: black !important;
  color: white !important;
}
.black-btn:hover {
  background-color: grey !important;
  color: white !important;
}
.red-btn {
  background-color: darkred !important;
}
.red-btn:hover {
  background-color: grey !important;
}
.blue-btn:hover {
  background-color: lightblue !important;
  color: black !important;
  border: 2px solid black !important;
  transition-delay: 0.5ms;
}
@media only screen and (max-width: 750px) {
  .react-confirm-alert-body {
    max-width: 95vw !important;
  }
}
.react-confirm-alert-body {
  width: 50vw;
}
.react-confirm-alert-button-group button {
  width: 50% !important;
}
