.job-listing-custom:hover {
    background-color: transparent !important;
}
/* .job-listing:hover {
    background-color: transparent !important;
} */
.job-listing {
    width: 100%;
}
.hover-change:hover {
    color: black !important;
    font-weight: bold;
}
.float-right-btn {
    float: right !important;
}
@media only screen and (max-width: 800px) {
    .float-right-btn {
        float: right !important;
        margin-bottom: 30px;
    }
    .top-mobile {
        margin-bottom: 30px;
    }
}
.custom-numbered label {
    color: black !important;
}
.float-btn-right {
    float: right !important;
}
