.add-margin {
    width: 90% !important;
    min-width: 300px !important;
}
.blue-btn {
    background-color: blue !important;
}
.freelancer {
    width: 90% !important;
    min-width: 300px !important;
    min-height: 700px !important;
}
