#logo-logo {
    max-width: 425px;
    max-height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 30px;
}
#paypal {
    max-width: 300px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}