.ReactTags__tag {
    background-color: blue !important;
    color: white !important;
    padding: 5px 10px 5px 10px;
    margin: 4px;
    font-weight: bold;
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
}
.ReactTags__selected {
    flex-wrap: nowrap !important;
}
.ReactTags__tagInput {
    margin-top: 40px !important;
    width: 40vw !important;
    position: relative;
}
@media only screen and (max-width: 750px) {
    .ReactTags__tagInputField {
        width: 100vw !important;
        min-width: 100vw !important;
    }
}
#contain {
    max-width: 40vw !important;
}
.react-tags-wrapper {
    overflow-x: scroll !important;
    min-height: 50px;
}
.multi-select {
    --rmsc-main: #4285f4;
    --rmsc-hover: #f1f3f5;
    --rmsc-selected: #e2e6ea;
    --rmsc-border: #ccc;
    --rmsc-gray: #aaa;
    --rmsc-bg: #fff;
    --rmsc-p: 10px; /* Spacing */
    --rmsc-radius: 4px; /* Radius */
    --rmsc-h: 38px; /* Height */
}
#below-btn {
    z-index: -99 !important;
    color: white !important;
}

.magic-btn {
    width: 100%;
}

.dashboard-box {
    padding-bottom: 50px;
}
.change-index {
    z-index: 0 !important;
}