.fun-fact-one {
    background-color: #36bd78 !important;
}
.fun-fact-three {
    background-color: #efa80f !important;
}
.fun-fact-two {
    background-color: #b81b7f !important;
}
.fun-fact-four {
    background-color: #2a41e6 !important;
}